ckpt/*

work_dir/*

*.pyc

*.csv

utils/drc_report/*

utils/irdrop_report/*

.vscode/*

__pycache__/*

models/unet2plus_3d_generator2.py

models/unet_layers.py

models/unet2plus_generator.py

self_tools/*

out/*

